<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>Reservar turno</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    
</head>
<body style="background-color: #000000;">
   
   
 
   
        
   <div class="col-md-4 offset-md-4"> 
   
    <form action="/guardado" method="post" style="background-color: rgb(44, 32, 41);" class="card card-body p-5 text-light">

    <h1 class="card-title">Reservar turno</h1>

        {% if r %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h4>{{ r }}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if r2 %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4>{{ r2 }}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        
        {% csrf_token %}
        
      
        
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="txtdni" required> 
        <br>
    
        <label for="especialidad">Especialidad:</label>
        
       
        <div class = "especialidad" > 
       <select id="especialidad" name="textesp" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
            <option value="corte">corte</option>
            <option value="lavado">lavado</option>
            <option value="tintura">tintura</option>
        </select>

    </div> 
  
        <br>
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="opcfec" required>
        <br>
        <label for="hora">Hora:</label>
        <input type="time" id="hora" name="opchor" required>
        <br>
       
        <input type="submit" value="Reservar turno" class="btn btn-primary">
   

    </form>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>


